.skill-item {
  display: flex;
  align-items: center;
  width: 44%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .skill-item {
    width: 30%;
  }
}

.skill-img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .skill-img {
    width: 36px;
    height: 36px;
  }
}

.skill-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .skill-name {
    font-size: 15px;
  }
}
