.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.form-container {
  background-color: #272727;
  width: 87%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .form-container {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 450px;
    padding: 40px;
  }
}

.website-logo {
  width: 60px;
  align-self: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
  .website-logo {
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 130px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 14px;
}

@media screen and (min-width: 576px) {
  .input-container {
    margin-top: 18px;
  }
}

.input-label {
  font-family: 'Roboto';
  font-size: 10px;
  color: #ffffff;
  line-height: 1.8;
}

@media screen and (min-width: 576px) {
  .input-label {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .input-label {
    font-size: 16px;
  }
}

.username-input-field {
  height: 30px;
  background-color: transparent;
  border: 1px solid #64748b;
  outline: none;
  padding-left: 16px;
  padding-right: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 2px;
  margin-top: 3px;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .username-input-field {
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .username-input-field {
    font-size: 20px;
    height: 44px;
  }
}

.password-input-field {
  height: 30px;
  background-color: transparent;
  border: 1px solid #64748b;
  outline: none;
  padding-left: 16px;
  padding-right: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 2px;
  margin-top: 3px;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .password-input-field {
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .password-input-field {
    height: 44px;
    font-size: 20px;
  }
}

.login-btn {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  width: 100%;
  border: none;
  margin-top: 26px;
  height: 30px;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .login-btn {
    height: 40px;
    font-size: 16px;
    margin-top: 34px;
  }
}

@media screen and (min-width: 768px) {
  .login-btn {
    height: 44px;
    font-size: 18px;
  }
}

.error-msg {
  font-family: 'Roboto';
  font-size: 11px;
  color: #ff0b37;
  margin-top: 3px;
  font-weight: 500;
}
