.jobs-main-container {
  background-color: #000000;
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .jobs-main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.profile-and-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profile-and-filter {
    flex-shrink: 0;
    width: 30vw;
    margin-right: 30px;
  }
}

.searchinput-jobs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.search-input-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64748b;
  height: 34px;
  border-radius: 6px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .search-input-logo-container {
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .search-input-logo-container {
    display: none;
  }
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  background-color: transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .search-input {
    font-size: 20px;
  }
}

.search-icon-btn {
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #272727;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .search-icon-btn {
    padding-left: 26px;
    padding-right: 26px;
    font-size: 18px;
  }
}

.hr-line {
  width: 100%;
  background-color: #2c364c;
  margin-top: 16px;
}

@media screen and (min-width: 576px) {
  .hr-line {
    margin-top: 20px;
  }
}

.jobs-list {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .jobs-list {
    margin: 0px;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.jobs-search-input-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64748b;
  height: 30px;
  border-radius: 6px;
  width: 64%;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .jobs-search-input-logo-container {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .jobs-search-input-logo-container {
    height: 34px;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .jobs-search-input-logo-container {
    height: 38px;
  }
}

.jobs-search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  background-color: transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .jobs-search-input {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .jobs-search-input {
    font-size: 18px;
  }
}

.jobs-search-icon-btn {
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #272727;
  color: #ffffff;
}

.search-and-jobs {
  display: flex;
  flex-direction: column;
  min-width: 53vw;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .search-and-jobs {
    min-height: 100vh;
  }
}

.jobs-loader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .no-jobs-container {
    min-height: 100vh;
  }
}

.no-jobs-img {
  width: 76%;
}

@media screen and (min-width: 768px) {
  .no-jobs-img {
    width: 52vw;
    height: 46vh;
  }
}

.no-jobs {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .no-jobs {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .no-jobs {
    font-size: 28px;
    margin: 10px;
  }
}

.no-jobs-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  line-height: 1.6;
  margin: 0px;
}

@media screen and (min-width: 576px) {
  .no-jobs-description {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    line-height: 1.6;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .no-jobs-description {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 9px;
  }
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .failure-view-container {
    min-height: 100vh;
  }
}

.failure-img {
  width: 76%;
}

@media screen and (min-width: 768px) {
  .failure-img {
    width: 52vw;
    height: 46vh;
  }
}

.oops {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .oops {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .oops {
    font-size: 28px;
    margin: 10px;
  }
}

.failure-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  line-height: 1.6;
  margin: 0px;
}

@media screen and (min-width: 576px) {
  .failure-description {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    width: 52%;
    text-align: center;
    line-height: 1.6;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .failure-description {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 9px;
  }
}

.failure-retry {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 28px;
  border-radius: 4px;
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .failure-retry {
    padding: 10px 34px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .failure-retry {
    padding: 9px 24px;
    font-size: 12px;
  }
}
