.jobs-main-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 20px;
}

.jobs-body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .jobs-body-container {
    flex-direction: row;
  }
}

.search-input-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64748b;
  height: 34px;
  border-radius: 6px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .search-input-logo-container {
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .search-input-logo-container {
    display: none;
  }
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  background-color: transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .search-input {
    font-size: 20px;
  }
}

.search-icon-btn {
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #272727;
  color: #ffffff;
}

@media screen and (min-width: 576px){
  .search-icon-btn{
    padding-left: 26px;
    padding-right: 26px;
    font-size: 18px;
  }
}
