.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 10px 20px;
  background-position: center;
background-repeat: no-repeat;

}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    padding: 50px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .home-content {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .home-content {
    width: 64%;
  }
}

.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 33px;
  line-height: 1.6;
}

@media screen and (min-width: 576px) {
  .home-heading {
    font-size: 37px;
  }
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 54px;
    line-height: 1.4;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 992px) {
  .home-heading {
    font-size: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .home-heading {
    font-size: 84px;
  }
}

.home-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16.4px;
  line-height: 1.7;
  margin: 0px;
}

@media screen and (min-width: 576px) {
  .home-description {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18.2px;
  }
}

@media screen and (min-width: 992px) {
  .home-description {
    font-size: 23.6px;
  }
}

@media screen and (min-width: 1200px) {
  .home-description {
    font-size: 27px;
  }
}

.find-jobs-btn {
  margin-top: 26px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #6366f1;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 576px) {
  .find-jobs-btn {
    padding: 10px 28px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .find-jobs-btn {
    margin-top: 40px;
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .find-jobs-btn {
    margin-top: 40px;
    padding: 17px 26px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .find-jobs-btn {
    margin-top: 40px;
    padding: 20px 28px;
    font-size: 18px;
  }
}
